* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #c8d2d4;
    padding: 20px 10px;
}

.wrap-logo {
    display: flex;
    align-items: center;
}

header a {
    color: #212121;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    background-color: #FBC02D;
    color: #212121;
}

header a.active {
    background-color: #FBC02D;
}



aside {
    float: left;
    background-color: rgb(255, 255, 255);
    width: 20%;
    padding: 2.5%;
    height: 100vh;
}

aside img {
    width: 160px;
    float: left;
    margin-left: -15px;
    margin-bottom: 20px;
}

aside .logo {
    font-size: 25px;
    margin-left: 50px;
    padding-top: 5px;
    color: rgb(205, 240, 80);
} 

aside ul {
    list-style: none; 
    text-decoration: none;
}

aside h3 {
    margin-top: 25px;
}

.checked {
    margin-right: 15px;
}

aside ul li {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    display: inline-block;
    text-decoration: none;
    transition: all .6s ease;
    font-size: 23px;
}

aside a {
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    text-decoration: none;
    cursor: pointer;
}


nav {
    display: flex;
    align-items: center;
}

form {
    display: flex;
    align-items: left;
    width: 100px;
    margin-top: 10px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    flex: 1;
}

.year-movie {
    margin-right: 50px;
}

button {
    background-color: #FBC02D;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}


.box-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sidebar-left {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    margin-top: 20px;
}

.main-content {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
    border: 2px black solid;
}

.container {
    width: 100px;
    height: 500px;
}

main img {
    width: 200px;
}

.product-shoe-info {
    padding: 0 0 15px 0;
    border: 1px solid #e4e4e4;
}

.item-info-product h4 a {
    color: #080808;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

span.money {
    font-size: 1em;
    font-weight: 800;
    color: #ff4c4c;
    letter-spacing: 2px;
}

.product_price {
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 1px solid #ddd;
}

ul.stars li {
    display: inline-block;
}

ul.stars li a span {
    font-size: 0.7em;
    color: #6a6c6d;
    margin: 0 0.2em;
}

ul.stars li a span:hover {
    opacity: 0.8;
}

span.product-new-top {
    background: #414b52;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 0.3em 1.2em;
    color: #fff;
}

.detail-content h3 {
    margin-left: 20px;
}

.detail-content img {
    float: left;
    padding-right: 20px;
    padding-left: 10px;
    margin-left: 10px;
}

.shots-photo p {
    margin-left: 20px;  
}

.poster-description ul {
    margin-bottom: 60px;
}

.shots {
    width: 100%;
    height: 200px;
}

.shots img {
    width: 280px;
    height: 160px;
}

.coments {
    /* width: 400; */
    margin-top: 200px;
}

.textarea-coment {
    margin-left: 20px;
}

.input-txt {
    margin-top: 300px;
    margin-left: -260px;
}

.input-email {
    margin-top: 380px;
    margin-left: -215px;
}

.button {
    margin-top: 480px;
    margin-left: -215px;
    padding-bottom: 20px;
}

.comments-user {
    width: 400px;
    margin-top: 60px;
    margin-left: 400px;
    border: 1px solid silver;
    padding: 4px;
}