{% extends 'movies_tv/base.html' %}
{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<aside>
    <!-- <img src="{% static 'movies_tv/img/logo_movie.png' %}" alt="foto"> -->
    <form action="{% url 'filter' %}" method="get">
        <div>
            <h3>Жанры</h3>
            <ul>
                {% for genre in view.get_genres %}
                <li>
                    <input type="checkbox" class="checked" name="genre" value="{{ genre.name }}">
                    <span>{{ genre.name }}</span>
                </li><br>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h3>Года</h3>
            <ul>
                {% for movie in view.get_years %}
                <li>
                    <input type="checkbox" class="checkbox" name="year" value="{{ movie.year }}"><br>
                    <span class="year-movie">{{ movie.year }}</span><br>
                </li><br>
                {% endfor %}
            </ul>
            <button class="btn btn-info" type="submit">Найти</button>
        </div>
    </form>

</aside>

<div>
    <form>
        <input type="text" placeholder="Поиск...">
        <button type="submit">Найти</button>
    </form>
</div>

<div class="left-ads-display col-lg-9">
    <div class="row">
        {% for movie in movie_list %}
        <div class="col-md-4 product-men">
            <div class="product-shoe-info editContent text-center mt-lg-4">
                <div class="men-thumb-item">
                    <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
                </div>
                <div class="item-info-product">
                    <h4 class="">
                        <a href="{{ movie.get_absolute_url}}" class="editContent">
                            {{ movie.title }}
                        </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money editContent">{{ movie.tagline }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
<footer>
    <div>

    </div>
</footer>
</body>

</html>