{% extends 'movies_tv/base.html' %}

{% block title %}
Подробно о фильме
{% endblock %}

{% block content %}
<div class="detail-content">
    <h3><b>{{ movie.title }}</b></h3>
    <div class="poster-description">
        <img src="{{ movie.poster.url }}" class="img-fluid" alt=""> <br><br>
        <ul>
            <li style="list-style: none">
                <span><b>Год:</b> {{ movie.year }}</span>
            </li>
            <li style="list-style: none">
                <span><b>Страна:</b> {{ movie.country }}</span>
            </li>
            <li style="list-style: none">
                <span><b>Слоган:</b> {{ movie.tagline }}</span>
            </li>
            <li style="list-style: none">
                <span><b>Режиссер:</b>
                    {% for director in movie.directors.all %}
                    {{ director.name }}
                    {% endfor %}
                </span>
            </li>
            <li style="list-style: none">
                <span><b>Актеры:</b>
                    {% for actor in movie.actors.all %}
                    {{ actor.name }}
                    {% endfor %}
                </span>
            </li>
            <li style="list-style: none"><span><b>Жанр:</b>
                    {% for genre in movie.genres.all %}
                    {{ genre.name }}
                    {% endfor %}
                </span></li>
            <li style="list-style: none"><span><b>Премьера в мире:</b> {{ movie.world_premiere}}</span>
            </li>
            <li style="list-style: none">
                <span><b>Бюджет:</b> ${{ movie.budget }}</span>
            </li>
            <li style="list-style: none">
                <span><b>Сборы в США:</b> ${{ movie.fees_in_usa }}</span>
            </li>
            <li style="list-style: none"><span><b>Сборы в мире:</b> ${{ movie.fess_in_world}}
                </span>
            </li>
        </ul>
    </div>
    <div class="shots-photo">
        <p>{{ movie.description }}</p> <br>
    </div>
    <div class="shots">
        <h3>Фрагменты из фильма {{ movie.title }}</h3>

        {% for img in movie.movieshots_set.all %}
        <p><img src="{{ img.imege.url }}" alt="shots-photo-url"></p>
        {% endfor %}

        <div class="coments">
            <form action="{% url 'add_review' movie.id %}" method="post">
                {% csrf_token %}
                <div class="textarea-coment">
                    <label for="comments">Ваш коментарий *
                    </label><textarea name="text" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="input-txt">
                    <label for="username">Имя *</label>
                    <input type="text" name="name">
                </div>
                <div class="input-email">
                    <label for="useremail">Email *</label>
                    <input type="email" name="email">
                </div><br>
                <div class="button">
                    <button type="submit" class="btn btn-success">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="comments-user">
    <h3>Коментарии :</h3>
    {% for coments in movie.reviews_set.all %}
    <p><b>Имя :</b> {{ coments.name }}</p> 
    <p><b>Коментарий :</b> {{ coments.text }}</p>
    <hr>
    {% endfor %}
</div>
{% endblock %}